*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  background-color: #041014;
}

.header {
  background-color: #aa0555;
  padding: 2rem 0;
}

.title {
  color: azure;
  margin-top: 0;
  margin-bottom: 2rem;
  text-align: center;
  font-size: 4rem;
}

.rgb-num {
  margin: 0;
  color: azure;
  text-align: center;
  font-size: 3rem;
}
.controls-bar {
  background-color: aliceblue;
  padding: 0.5rem 0;
}

.controls-container {
  max-width: 600px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.btn {
  border: none;
  background-color: aliceblue;
}

.difficulty-controls-container {
  display: flex;
  gap: 2rem;
}

.item-container {
  display: grid;
  grid-template-columns: repeat(3, 20rem);
  grid-template-rows: repeat(2, 20rem);
  gap: 2rem;
  margin: 2rem auto;
  justify-content: center;
}

.item {
  background-color: blueviolet;
  border-radius: 3rem;
}

