.footer {
  color: aliceblue;
  font-size: 1.6rem;
  padding: 2rem;
  text-align: center;
}

.footer-link {
  color: aliceblue;
}

.footer-link:hover {
  color: aqua;
}

.footer-link:active {
  color: red;
}
