@import "./base";
@import "./header";
@import "./items";
@import "./footer";

.controls-bar {
  background-color: aliceblue;
}

.controls-container {
  max-width: 48rem;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.btn {
  border: none;
  background-color: aliceblue;
  padding: 0.5rem;
  color: #aa0555;
  font-weight: bold;
  text-transform: uppercase;
}

.btn:hover,
.btn--active {
  background-color: #aa0555;
  color: aliceblue;
  cursor: pointer;
}

.difficulty-controls-container {
  display: flex;
  gap: 2rem;
}

@media (min-width: 768px) {
  .controls-container {
    max-width: 60rem;
  }

  .btn {
    font-size: 2rem;
  }
}
