@import "./_base";
@import "./_header";
@import "./_items";

.container {
  padding: 0 2rem;
}

.controls-bar {
  background-color: aliceblue;
  padding: 0.5rem 0;
}

.controls-container {
  max-width: 48rem;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.btn {
  border: none;
  background-color: aliceblue;
}

.difficulty-controls-container {
  display: flex;
  gap: 2rem;
}

@media (min-width: 768px) {
  .controls-container {
    max-width: 60rem;
  }
}
